.container {
    align-self: center;
    border-radius: 50px;
    background-color: rgb(75, 133, 114);
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin-top: 15%;
    z-index: 3;
}

.image {
    margin-top: 5px;
    margin-right: 5px;
}
.img{
    border-radius: 50%;
}

.info{
    margin-left: 10px;
    margin-bottom: 15px;
    color: greenyellow;
    font-size: 2rem;
}