.App {
   width: 97%;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   height: 100%;
   background-size: cover;
   background-image: url("https://wallpaperaccess.com/full/790750.png");
}

.titulo2 {
   position: absolute;
   font-family: ink free, MV Boli, Comic Sans MS;
   color: rgb(247, 222, 6);
   font-size: 2.5em;
   left: 40%;
   top: 15px;
}

.titulo {
   font-family: ink free, MV Boli, Comic Sans MS;
   color: rgb(247, 222, 6);
   font-size: 10rem;
   left: 20%;
   top: 30%;
   position: fixed;
   opacity: 0.8;
   z-index: 1;
}